In [1]:
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
# For plotting inline in Jupyter Notebook
%matplotlib inline

# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [1]:
# For plotting inline in Jupyter Notebook
%matplotlib inline

# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
print("Imports successful!")

Imports successful!

In [2]:
# ===============================
# Cell 1: Setup & Imports
# ===============================

# Ensure plots appear inside the notebook
%matplotlib inline

# Data handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing tools
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Display plots nicely
sns.set_style("whitegrid")

In [5]:
# ===============================
# Cell 2: Load Dataset
# ===============================

# Replace with your CSV file name

dataset_path = r'C:\Users\hamza\Downloads\titanic\train.csv'

# Load the dataset
df = pd.read_csv(dataset_path)

# Display first 5 rows
print("First 5 rows of the dataset:")
display(df.head())

# Check dataset info (data types & missing values)
print("\nDataset Info:")
df.info()

# Check missing values count
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# Quick descriptive statistics
print("\nDescriptive Statistics:")
display(df.describe())

First 5 rows of the dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Dataset Info:
<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    str
 4   Sex          891 non-null    str
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    str
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    str
 11  Embarked     889 non-null    str
dtypes: float64(2), int64(5), str(5)
memory usage: 83.7 KB

Missing Values in Each Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Descriptive Statistics:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
dataset_path = r'C:\Users\hamza\Downloads\titanic\train.csv'

In [6]:
# Fill numerical missing values
df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill categorical missing values
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop column with too many missing values
df.drop(columns=['Cabin'], inplace=True)

# Verify missing values
print("Missing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

C:\Users\hamza\AppData\Local\Temp\ipykernel_34572\2264584041.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\hamza\AppData\Local\Temp\ipykernel_34572\2264584041.py:5: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
# Fill missing numerical values
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill missing categorical values
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop column with too many missing values
df = df.drop(columns=['Cabin'])

In [ ]:
# For plotting inline
%matplotlib inline

# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Set plot style
sns.set_style("whitegrid")

# Load dataset
dataset_path = r'C:\Users\hamza\Downloads\titanic\train.csv'
df = pd.read_csv(dataset_path)

# Clean missing values properly
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df = df.drop(columns=['Cabin'])

# Verify missing values
print("Missing values after cleaning:")
print(df.isnull().sum())

In [ ]:
# ===============================
# Cell 1: Setup & Imports
# ===============================

# For inline plotting in Jupyter
%matplotlib inline

# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

# Set plot style
sns.set_style("whitegrid")

print("Libraries imported successfully!")

# ===============================
# Cell 2: Load Dataset
# ===============================

# Replace with your CSV file path
dataset_path = r'C:\Users\hamza\Downloads\titanic\train.csv'

# Load the dataset
df = pd.read_csv(dataset_path)

# Display first 5 rows
print("First 5 rows of the dataset:")
display(df.head())

# Dataset info
print("\nDataset Info:")
df.info()

# Missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

# ===============================
# Cell 3: Data Cleaning
# ===============================

# Fill missing numerical values
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill missing categorical values
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop columns with too many missing values or not useful
df = df.drop(columns=['Cabin', 'Ticket', 'PassengerId', 'Name'])

# Verify missing values
print("\nMissing values after cleaning:")
print(df.isnull().sum())

# ===============================
# Cell 4: Encoding Categorical Variables
# ===============================

# Convert 'Sex' and 'Embarked' to numerical values
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])         # male=1, female=0
df['Embarked'] = le.fit_transform(df['Embarked'])  # C=0, Q=1, S=2

print("\nData after encoding:")
display(df.head())

# ===============================
# Cell 5: Feature Scaling
# ===============================

# Numerical features to scale
num_features = ['Age', 'Fare', 'SibSp', 'Parch']

# Using StandardScaler
scaler = StandardScaler()
df[num_features] = scaler.fit_transform(df[num_features])

print("\nData after scaling:")
display(df.head())

# ===============================
# Cell 6: Exploratory Data Analysis
# ===============================

# Survival count plot
plt.figure(figsize=(6,4))
sns.countplot(x='Survived', data=df)
plt.title("Survival Count")
plt.show()

# Correlation heatmap
plt.figure(figsize=(8,6))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title("Feature Correlation")
plt.show()

# ===============================
# Cell 7: Dataset Ready
# ===============================

print("Cleaned, encoded, and scaled dataset ready for ML!")
display(df.head())